.navbar{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.nav-link {
  color: #F2A413 !important;
}

@media (max-width: 576px) {
  #collapsibleNavbar .navbar-nav {
    flex-direction: column !important;
    align-items: center;
    width: 100%;
  }
}
